
#wrapper {
    /*!margin:0 auto;*/
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    color: #566787;
    font-size:16px;
}

.btn {
    color: #566787;
    font-size: 16px;
    background: #ebf8fd;
    border: 1px solid #CCCCCC;
    min-width: 90px;
    border-radius: 2px;
    outline: none !important;
    margin-left: 10px;
}

.btn i {
    float: left;
    font-size: 21px;
    margin-right: 2px;
}

