<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>com.Dentolife.controllers.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacienteController</servlet-name>
        <servlet-class>com.Dentolife.controllers.PacienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EspecialidadController</servlet-name>
        <servlet-class>com.Dentolife.controllers.EspecialidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctor_EspecialidadController</servlet-name>
        <servlet-class>com.Dentolife.controllers.Doctor_EspecialidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaController</servlet-name>
        <servlet-class>com.Dentolife.controllers.CitaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorController</servlet-name>
        <servlet-class>com.Dentolife.controllers.DoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesController</servlet-name>
        <servlet-class>com.Dentolife.controllers.ReportesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuariocontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacienteController</servlet-name>
        <url-pattern>/pacientecontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EspecialidadController</servlet-name>
        <url-pattern>/especialidadcontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctor_EspecialidadController</servlet-name>
        <url-pattern>/doctor_especialidadcontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaController</servlet-name>
        <url-pattern>/citacontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorController</servlet-name>
        <url-pattern>/doctorcontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesController</servlet-name>
        <url-pattern>/reportescontroller.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
