USE [master]
GO
/****** Object:  Database [DB_CONSULTORIO]    Script Date: 23/11/2020 22:33:19 ******/
CREATE DATABASE [DB_CONSULTORIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_CONSULTORIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_CONSULTORIO.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_CONSULTORIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_CONSULTORIO_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_CONSULTORIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_CONSULTORIO]
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSQUEDA]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BUSQUEDA]
@ID INT

AS
BEGIN
	select t1.IdCita,(t3.Apellidos+' '+t3.Nombre) doctor, CONVERT(VARCHAR(10),t1.FechaAtencion,103) fecha, CONVERT(VARCHAR(5), t1.HoraAtencion, 108) + ' ' + RIGHT(CONVERT(VARCHAR(30), t1.HoraAtencion, 9),2) hora,Especialidad
	from CITA t1
	inner join PACIENTE t2
	on t1.IdPaciente = t2.IdPaciente
	inner join DOCTOR t3
	on t1.IdDoctor = t3.IdDoctor
	inner join ESPECIALIDAD t4
	on t1.IdEspecialidad = t4.IdEspecialidad
	where t1.IdPaciente = @ID 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSQUEDA2]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BUSQUEDA2]
@ID INT

AS
BEGIN
	select 
	t1.IdCita
	,(t2.Nombre+' '+t2.Apellidos) paciente
	,(t3.Nombre+' '+t3.Apellidos) doctor 
	,CONVERT(VARCHAR(10),t1.FechaAtencion,103) fecha
	, CONVERT(VARCHAR(5), t1.HoraAtencion, 108) + ' ' + RIGHT(CONVERT(VARCHAR(30), t1.HoraAtencion, 9),2) hora
	from CITA t1
	inner join PACIENTE t2
	on t1.IdPaciente = t2.IdPaciente
	inner join DOCTOR t3
	on t1.IdDoctor = t3.IdDoctor
	inner join ESPECIALIDAD t4
	on t1.IdEspecialidad = t4.IdEspecialidad
	where t4.IdEspecialidad = @ID 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSQUEDA3]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BUSQUEDA3]
@ID INT

AS
BEGIN
	select t1.IdCita,(t2.Nombre+' '+t2.Apellidos) paciente, CONVERT(VARCHAR(10),t1.FechaAtencion,103) fecha, CONVERT(VARCHAR(5), t1.HoraAtencion, 108) + ' ' + RIGHT(CONVERT(VARCHAR(30), t1.HoraAtencion, 9),2) hora,Especialidad
	from CITA t1
	inner join PACIENTE t2
	on t1.IdPaciente = t2.IdPaciente
	inner join DOCTOR t3
	on t1.IdDoctor = t3.IdDoctor
	inner join ESPECIALIDAD t4
	on t1.IdEspecialidad = t4.IdEspecialidad
	where t1.IdDoctor = @ID 
END
GO
/****** Object:  Table [dbo].[CITA]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITA](
	[IdCita] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IdPaciente] [numeric](18, 0) NOT NULL,
	[IdDoctor] [numeric](18, 0) NOT NULL,
	[IdEspecialidad] [numeric](18, 0) NOT NULL,
	[FechaAtencion] [date] NULL,
	[HoraAtencion] [time](7) NULL,
	[Estado] [int] NULL,
 CONSTRAINT [PK_CITA] PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[DOCTOR](
	[IdDoctor] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](75) NOT NULL,
	[Apellidos] [varchar](75) NOT NULL,
	[TipoDocumento] [varchar](2) NULL,
	[NumDocumento] [varchar](20) NULL,
	[NumColegiatura] [varchar](20) NOT NULL,
	[Direccion] [varchar](150) NULL,
	[TelefonoFijo] [varchar](10) NULL,
	[TelefonoMovil] [varchar](10) NULL,
	[Estado] [int] NULL DEFAULT ((1)),
 CONSTRAINT [PK_DOCTOR] PRIMARY KEY CLUSTERED 
(
	[IdDoctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCTOR_ESPECIALIDAD]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR_ESPECIALIDAD](
	[IdDoctor] [numeric](18, 0) NOT NULL,
	[IdEspecialidad] [numeric](18, 0) NOT NULL,
	[Estado] [int] NULL DEFAULT ((1)),
 CONSTRAINT [PK_DOCTOR_ESPECIALIDAD] PRIMARY KEY CLUSTERED 
(
	[IdDoctor] ASC,
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESPECIALIDAD]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ESPECIALIDAD](
	[IdEspecialidad] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Especialidad] [varchar](75) NOT NULL,
	[Estado] [int] NULL DEFAULT ((1)),
 CONSTRAINT [PK_ESPECIALIDAD] PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[PACIENTE](
	[IdPaciente] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](150) NOT NULL,
	[TipoDocumento] [varchar](2) NULL,
	[NumDocumento] [varchar](20) NULL,
	[Correo] [varchar](75) NULL,
	[Sexo] [varchar](2) NULL,
	[FechaNAcimeinto] [date] NULL,
	[Direccion] [varchar](150) NULL,
	[TelefonoFijo] [varchar](10) NULL,
	[TelefonoMovil] [varchar](10) NULL,
	[Observaciones] [varchar](250) NULL,
	[Estado] [int] NULL DEFAULT ((1)),
 CONSTRAINT [PK_PACIENTE] PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 23/11/2020 22:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](75) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Rol] [varchar](100) NOT NULL,
	[clave] [varchar](50) NOT NULL,
	[estado] [int] NULL DEFAULT ((1)),
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CITA] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [FK_CITA_DOCTOR1] FOREIGN KEY([IdDoctor])
REFERENCES [dbo].[DOCTOR] ([IdDoctor])
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [FK_CITA_DOCTOR1]
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [FK_CITA_ESPECIALIDAD1] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[ESPECIALIDAD] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [FK_CITA_ESPECIALIDAD1]
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [FK_CITA_PACIENTE1] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[PACIENTE] ([IdPaciente])
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [FK_CITA_PACIENTE1]
GO
ALTER TABLE [dbo].[DOCTOR_ESPECIALIDAD]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_ESPECIALIDAD_DOCTOR1] FOREIGN KEY([IdDoctor])
REFERENCES [dbo].[DOCTOR] ([IdDoctor])
GO
ALTER TABLE [dbo].[DOCTOR_ESPECIALIDAD] CHECK CONSTRAINT [FK_DOCTOR_ESPECIALIDAD_DOCTOR1]
GO
ALTER TABLE [dbo].[DOCTOR_ESPECIALIDAD]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_ESPECIALIDAD_ESPECIALIDAD1] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[ESPECIALIDAD] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[DOCTOR_ESPECIALIDAD] CHECK CONSTRAINT [FK_DOCTOR_ESPECIALIDAD_ESPECIALIDAD1]
GO
USE [master]
GO
